
    <div class="container mt-5">
        <h2 class="fw-bold">Portfolio</h2>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent
            commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>

        <div class="row">
            <div class="col-md-4">
                <img src="big-project-image.png" class="img-fluid" alt="Project Image">
                <h5 class="text-primary mt-2">Project Name</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                    pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4">
                <img src="hbig-project-image.png" class="img-fluid" alt="Project Image">
                <h5 class="text-primary mt-2">P" class="img-fluid" alt="Project Image">
                    <h5 class="text-primary mt-2">Project Name</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                        pellentesque urna varius vitae.</p>
            </div>
            <div class="col-md-4">
                <img src="big-project-image.png" class="img-fluid" alt="Project Image">
                <h5 class="text-primary mt-2">P" class="img-fluid" alt="Project Image">
                    <h5 class="text-primary mt-2">Project Name</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida
                        pellentesque urna varius vitae.</p>
            </div>
        </div>
    </div>
