<div class="container-fluid p-0">
    <div class="bg-image text-center text-dark d-flex align-items-center justify-content-center" style="background-image: url(/website/assets/img/bg.jpg); background-size: cover; background-position: bottom; height: 600px;">
        <div class="bg-white bg-opacity-75 p-4 rounded container-fluid">
            <h1 class="display-1 fw-bold m-0">One Page Wonder</h1>
            <h3 class="display-3 fw-bold m-0">Will Knock Your Socks Off</h3>
        </div>
    </div>
</div>
